@font-face {
    font-family: 'ui-bold';
    src: url('/assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'ui-regular';
    src: url('/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'ui-light';
    src: url('/assets/fonts//Montserrat-ExtraLight.ttf');
}

:root {
    --darkest-purple: #937DC2;
    --dark-purple: #C689C6;
    --light-pink: #FFABE1;
    --lightest-pink: #FFE6F7;
    --text: #212427;
}

body {
    font-family: 'ui-regular';
    overscroll-behavior: contain;
	color: var(--text);
}

#nav-container {
	overflow: hidden;
}

.nav {
	position: absolute;
	left: -60vw;
	z-index: 2;
	opacity: 0;
	width: 100%;
	top: 70px;
	transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.list {
	margin-top: -2rem;
	list-style: none;
	text-align: center;
}

.item > i {
	color: var(--darkest-purple);
	margin-bottom: 0.4rem;
}

.item {
	margin: 1rem;
	font-size: 1.4rem;
	color: var(--text);
	font-family: 'ui-light';
}

.link:link,
  .link:visited {
	font-size: 3rem;
	font-weight: 300;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
	background-size: 220%;
	transition: all 0.4s;
}

.link:hover,
  .link:active {
	cursor: pointer;
}

.checkbox:checked ~ .nav {
	opacity: 1;
	left: 0;
}

.round-button {
	cursor: pointer;
	background-color: #FFF;
	border-radius: 50%;
	height: 2.8rem;
	width: 2.8rem;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: #000;
	z-index: 14;
}

.round-button-two {
	cursor: pointer;
	background-color: #FFF;
	border-radius: 50%;
	height: 2.8rem;
	width: 2.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: #000;
	z-index: 4;
}

.menu-button {
	top: 1rem;
	left: 1rem;
}

.people-button {
	top: 1rem;
	right: 1rem;
}

.share-button {
	right: 1rem;
	bottom: 1rem;
}

.settings-button {
	bottom: 1rem;
	left: 1rem;
}

.checkbox {
	display: none;
}

.logo-container {
    width: 100%;
	margin-bottom: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container > img {
    width: 50%;
}

.landing-wrapper {
    width: 100%;
    height: 100vh;
	opacity: 100%;
	transition: all 0.4s;
}

.header-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
    gap: 0.6rem;
}

.header-container > h1 {
    font-family: 'ui-bold';
    color: var(--darkest-purple);
    font-size: 1.4rem;
}

.header-container > h2 {
    font-size: 1rem;
    color: var(--text);
}

.user-image-container {
    position: relative;
	height: 140px;
	width: 140px;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-top: 2rem;
	z-index: 1;
	margin-bottom: 1rem;
}

.edit-container-header {
    position: absolute;
    right:  0.6rem;
    bottom: 0.6rem;
    background-color: #FFF;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkest-purple);
    font-size: 1rem;
}

.user-image {
	width: 80%;
	height: 80%;
	background-image: url('/assets/images/ui/avatar.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	left: 0;
}

.box {
	background-color: #937DC2;
	position: absolute;
	border-radius: 50%;
	z-index: 0;
}

.shadow {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fade-out {
opacity: 0;
}

.primary-content-wrapper {
	position: relative;
	transition: all 0.4s;
}

.cta-board {
	position: fixed;
	bottom: -100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: 6;
	transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cta-board > h1 {
    font-family: 'ui-bold';
    color: var(--darkest-purple);
    font-size: 1.4rem;
	margin-left: 1rem;
	margin-bottom: -1rem;
}

.cta-actions {
	width: 100%;
	height: 12rem;
	display: flex;
	overflow-x: auto;
	gap: 0.6rem;
	z-index: 6;
	align-items: center;
}

.show-cta-actions {
	bottom: 2rem;
}

.cta-actions .cta-box:first-child {
	margin-left: 1rem;
}

.cta-actions .cta-box:last-child {
	margin-right: 1rem;
}

.cta-actions::-webkit-scrollbar {
	display: none;
}

.cta-box {
	position: relative;
	width: 12rem;
	height: 8rem;
	min-width: 12rem;
	background-color: var(--darkest-purple);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
}

.cta-darkness {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: inherit;
}

.cta-box > h1 {
	position: absolute;
	bottom: 0.2rem;
	right: 0.2rem;
	color: #FFF;
	font-family: 'ui-bold';
}

.cta-box > i {
	position: absolute;
	color: #FFF;
	font-size: 2rem;
}

.cta-memory {
	background-image: url('/assets/images/ui/cta/memory.jpg');
}

.cta-relationship {
	background-image: url('/assets/images/ui/cta/relationship.jpg');
}

.cta-reminder {
	background-image: url('/assets/images/ui/cta/reminder.jpg');
}

.cta-person {
	background-image: url('/assets/images/ui/cta/person.jpg');
}

.cta-random {
	background-image: url('/assets/images/ui/cta/random.jpg');
}